<% provide(:button_text, 'Edit') %>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3><%= "Editing #{@division.division_name}" %></h3>
    </div>
    <%= render "form" %>
  </div>
</div>
