<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Brands List</h3>
    </div>
    <div class="modal-body">
      <table class=" table table-stripped">
        <tr>
          <th>No.</th>
          <th>Brands Name</th>
          <th class="text-center">Choose</th>
        </tr>
        <tr>
          <%= render 'brands_list' %>
        </tr>
      </table>
    </div>
  </div>
</div>
