<% $i = 1 %>
  <% @brands.each do |brand| %>
  <tr>
    <td><%= $i %></td>
    <td><%= brand.brand_name %></td>
    <td class="text-center">
      <%= link_to 'Edit', edit_brand_path(brand), remote: true, class: 'btn btn-default' %>
      <%= link_to "Delete", brand_delete_path(brand), remote: true, class: 'btn btn-danger' %>
    </td>
  </tr>
  <% $i += 1 %>
<% end %>

